<div class="container">
  <h1>Trip Index</h1>
  <% @trips.each do |trip| %>
    <p><%= trip.title %></p>
    <p><%= trip.description %></p>
    <p><%= trip.destination %></p>
    <p><%= trip.price %></p>
  <% end %>
</div>
